DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# 增加 192.168.1.10:5173以适配局域网测试的情况
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://192.168.1.10:5173
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://192.168.1.10:5173


# Use a dedicated MySQL user and database in development.
DATABASE_URL=mysql://wind_doc_user:change-me@127.0.0.1:3306/wind_doc_dev
TEST_DATABASE_NAME=wind_doc_test

FILE_STORAGE_ROOT=data/files
TEMPORARY_STORAGE_ROOT=data/temporary
MAX_UPLOAD_SIZE_MB=200
TEMPORARY_GRANT_DEFAULT_HOURS=24
